.path-report-coursecompetencies .btn_container {
	margin-bottom: 10px;
}

.path-report-coursecompetencies .reportparent {
	height: 500px;
	overflow: auto;
	resize: vertical;
}

.path-report-coursecompetencies thead th,
.path-report-coursecompetencies td {
	vertical-align: middle !important;
}

.path-report-coursecompetencies .competency-idnumber,
.path-report-coursecompetencies td {
	text-align: center !important;
}

.path-report-coursecompetencies .competency-description {
	height: 50px;
	overflow: auto;
}

.path-report-coursecompetencies tbody th,
.path-report-coursecompetencies .competency-description {
	min-width: 200px;
}

.path-report-coursecompetencies tbody th,
.path-report-coursecompetencies .competency-description {
	font-weight: normal;
}

.path-report-coursecompetencies tbody th img {
	margin-right: 4px;
}

.path-report-coursecompetencies .grade-pending {
	color: red;
	font-size: 13px;
}
